section {
  min-height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.last{
  margin: 0;
}

section .text-container .text-box {
  margin: 20px;
  padding: 50px;
  color: #D8E3E7;
  text-shadow: 2px 2px 4px #000000;
}


@media (max-width: 900px) {
  section .text-container {
    flex-direction: column;
  }
}

.reveal {
  position: relative;
  opacity: 0;
}

.reveal.active {
  opacity: 1;
}
.active.fade-bottom {
  animation: fade-bottom 2s ease-in;
}
@keyframes fade-bottom {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
