*{
    margin: 0;
}
body{
    /* height: 200vh; */
    z-index: -1;
}
.imgcontainer {
    position: relative;
    width: 100%;
    z-index: -1;
  
  }
  p{
    margin: 10%;
  }
.image-container {
    position: sticky;
    
    top: 0;
    background-size: cover;
    background-image: url(bgfull.webp);
    object-fit: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    z-index: -1;
}

#santa_img{
    position: absolute;
    width: 50vw;
    margin-top: 15vh;
    translate: -50vw 0 ;
    z-index: 5;
}
#star_img{
    position: fixed;
    translate: 23.7vw  22vh;
    width: 0;
    rotate: 45deg;
    clip-path: polygon(71% 3%, 65% 40%, 98% 57%, 61% 63%, 55% 98%, 39% 67%, 1% 72%, 28% 46%, 11% 12%, 44% 30%);
    /* animation: glow 1s ease-in-out infinite alternate; */
    z-index: 5;
}

/* @keyframes glow {
    from {
      box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }
    to {
      box-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
  } */

  

@keyframes move {
    0% {translate: -50vw 0 ;}
    50% {translate: 25vw 0 ;}
    100% {translate: 125vw 0 ;}
}  

@media (max-width: 900px) {
    .image-container{
        background-size: 175vh;
        background-position: 30% 0%;
    }
    #star_img{
        translate: 20vw  0vh;
    }

}





